.dashboard_container_group {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--navigation-text);
  /* position: absolute;
  top: 40%;
  left: 25%; */
  /* z-index: 2; */
}

.dashboard_header {
  color: var(--navigation-text);
}

.dashboard_container_group p {
  width: 30%;
  text-align: center;
  font-size: 18px;
  font-family: "SF_Pro_Display_Regular";
  letter-spacing: 0.04rem;
  /* z-index: 2; */
}
