:root {
  /* --card_width: 390px;
  --card_border_radius: 7px;
  --row_increment: 10px; */
  /* --card_small: 25;
  --card_large: 37; */

  --card_width: 500px;
  --card_border_radius: 7px;
  --row_increment: 10px;
  --card_small: 25;
  --card_large: 50;
  --small: 1;
  --medium: 2;
  --large: 3;
}

.Dashboard {
  background-color: #f7f7f7;
}

.container_graphs {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));

  column-gap: 15px;
  grid-auto-rows: var(--row_increment);
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_large {
  grid-row-end: span var(--card_large);
  /* width: 1015px; */
}

.small {
  /* width: 500px; */
  grid-column-end: span var(--small);
}

.medium {
  /* width: 1000px; */
  grid-column-end: span var(--medium);
}

.large {
  /* width: 1530px; */
  grid-column-end: span var(--large);
}

.templateChart_container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: var(--card_border_radius);
  padding: 1rem;
  padding-top: 3.5rem;
  background-color: white;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* height: 200px; */
  /* grid-row-end: span var(--card_small); */
}

.templateChart_header {
  padding: 0rem;
  margin: 1rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.templateChart_header h1 {
  padding: 0rem;
  margin: 0rem;
}

.templateChart_container_paragraph {
  font-size: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.this_is_container_visiable_chart {
  /* grid-row-end: span var(--card_large); */
  /* margin: 15px 10px; */

  /* padding: 1rem;
  padding-top: 0rem;
  padding-left: 0rem; */
}

/* .this_is_container_main_chart {
  margin: 15px 10px;
} */

.dashboard_container_group {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--navigation-text);
  /* position: absolute;
  top: 40%;
  left: 25%; */
  /* z-index: 2; */
}

.dashboard_header {
  color: var(--navigation-text);
}

.dashboard_container_group p {
  width: 30%;
  text-align: center;
  font-size: 18px;
  font-family: "SF_Pro_Display_Regular";
  letter-spacing: 0.04rem;
  /* z-index: 2; */
}

.hidden {
  display: hidden;
}

.MainDashbaord {
  /* margin-top: 5rem; */
  margin-left: 2rem;
  width: 100%;
  /* display: flex; */
  flex-direction: row;

  align-items: flex-end;
}

.ChartsArray {
  /* display: flex !important; */
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* .Chart {
  margin: 1rem;
  margin-left: 0rem;
  margin-top: 0rem;
} */

.no_spacing .Chart .Chart_with_space {
  margin-left: 1rem !important;
}

#PluswithChart {
  /* height: 1rem; */
  display: flex;
  flex-direction: row;
  border: 1px solid #707070;
  margin-left: 1rem;
  border-radius: 6px;
  padding: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: white;
  margin-bottom: 2rem;
  font-size: 14px;
  cursor: pointer;
}

#PluswithChart div {
  font-size: 14px;
  font-family: "SF_Pro_Display_Medium";
  color: #707070;
}

#PluswithChart img {
  margin-right: 0.5rem;
}

.Chart_holder {
  display: flex;
  flex-direction: row;
}

.Chart_dashboard {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container_button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem;
  margin-bottom: 0rem;
}

/* .this_is_container_visiable_chart {
  grid-row-end: span 2;
} */

.container_graphs_space {
  margin-left: 21rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.KPI_with_Dashboard {
  display: flex;
  flex-direction: row;
}

.Download_Dashboard {
  /* margin-left: 1.25rem; */
  border-radius: 5px;
  background-color: #e7e7ef;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF_Pro_Display_Medium";
  font-size: 15px;
  /* padding: 1.5rem; */
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #929292;
  margin-bottom: 1rem;
}

.Download_Dashboard span {
  margin-right: 1rem;
  /* margin-left: 0.5rem; */
}

.KPI_holder {
  display: flex;
  margin-left: 2rem;
  /* margin-top: 1.5rem; */
}

.KPI_contianer {
  padding-right: 1rem;
}

.KPI_block {
  background-color: white;
  height: 252px;
  width: 368.5px;
  border-radius: 7px;
  border: 1px solid #e2e2e2;
  font-family: "SF_Pro_Display_Medium";
  position: relative;
}

.KIP_title {
  padding: 1rem;
  padding-top: 0.5rem;
  font-size: 18px;
}

.KIP_chart_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* height: 160px; */
}

.KIP_chart_holder_core {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 180px; */
}

h1 {
  display: flex;
}

h1 input {
  border: 1px solid #d0cccc;
  border-radius: 9px;
  background-color: #f7f7f7;
  font-family: "SF_Pro_Display_Bold";
  font-size: 32px;
}

::placeholder {
  color: black;
}

.container_for_button {
  display: flex;
}

h1 div button {
  width: 7rem;
  height: 70%;
  align-items: flex-end;
  justify-content: end;
  background-color: #929292;
  font-family: "SF_Pro_Display_Medium";
  font-size: 15px;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
  color: white;
}
.KPI_label {
  position: absolute;
  top: 5%;
  left: 73%;
  z-index: 4;
}

.KPI_label_second {
  position: absolute;
  top: 5%;
  left: 84.5%;
  z-index: 4;
}

#coreInitalLabel {
  top: 10%;
  left: -50%;
}

#coreUpdateLabel {
  top: 60%;
  left: -50%;
}

.initialpreditionScore_label {
  width: 13px;
  height: 13px;
  border-radius: 70%;
  position: absolute;
  top: 10%;
  left: -35%;
  z-index: 4;
  background-color: #b8c8d2;
}

#genderFemale {
  background-color: #194e6d !important;
}

.Female {
  width: 13px;
  height: 13px;
  border-radius: 70%;
  position: absolute;
  top: 10%;
  left: -35%;
  z-index: 4;
  background-color: #b8c8d2;
}

.Male {
  width: 13px;
  height: 13px;
  border-radius: 70%;
  position: absolute;
  top: 72%;
  left: -35%;
  z-index: 4;
  background-color: #b8c8d2;
}

.Unknown {
  width: 13px;
  height: 13px;
  border-radius: 70%;
  position: absolute;
  top: 41%;
  left: -35%;
  z-index: 4;
  background-color: #496d84;
}

.initialpreditionScore_label_second {
  width: 13px;
  height: 13px;
  border-radius: 70%;
  position: absolute;
  top: 57%;
  left: -35%;
  z-index: 4;
  background-color: #194e6d;
}

/* .KIP_chart_holder {
  padding-bottom: 1rem;
} */

.Name_and_DatabaseSelector_Container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
  margin-right: 5.5rem;
}
.DatabaseSelector {
  margin-top: 1rem;
}

.DatabaseSelector select {
  margin-bottom: 0rem;
  margin-left: 0.5rem;
}

#coreintial {
  width: 20% !important;
}

/* .KPI_label_second {
  width: 20%;
} */

.KPI_label_Gender {
  position: absolute;
  top: 5%;
  left: 76.5%;
  z-index: 4;
}
