:root {
  --card_width: 390px;
  --card_border_radius: 7px;
  --row_increment: 10px;
  --card_small: 25;
  --card_large: 37;
}

.Dashboard {
  background-color: #f7f7f7;
}

.container_graphs {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));

  column-gap: 6px;
  grid-auto-rows: var(--row_increment);
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_large {
  grid-row-end: span var(--card_large);
}

.templateChart_container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: var(--card_border_radius);
  padding: 1rem;
  background-color: white;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* height: 200px; */
  /* grid-row-end: span var(--card_small); */
}

.templateChart_header {
  padding: 0rem;
  margin: 1rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.templateChart_header h1 {
  padding: 0rem;
  margin: 0rem;
}

.templateChart_container_paragraph {
  font-size: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.this_is_container_visiable_chart {
  /* grid-row-end: span var(--card_large); */
  /* margin: 15px 10px; */

  /* padding: 1rem;
  padding-top: 0rem;
  padding-left: 0rem; */
}

/* .this_is_container_main_chart {
  margin: 15px 10px;
} */

.dashboard_container_group {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--navigation-text);
  /* position: absolute;
  top: 40%;
  left: 25%; */
  /* z-index: 2; */
}

.dashboard_header {
  color: var(--navigation-text);
}

.dashboard_container_group p {
  width: 30%;
  text-align: center;
  font-size: 18px;
  font-family: "SF_Pro_Display_Regular";
  letter-spacing: 0.04rem;
  /* z-index: 2; */
}

.hidden {
  display: hidden;
}

.MainDashbaord {
  /* margin-top: 5rem; */
  margin-left: 2rem;
  width: 100%;
  /* display: flex; */
  flex-direction: row;

  align-items: flex-end;
}

.ChartsArray {
  /* display: flex !important; */
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* .Chart {
  margin: 1rem;
  margin-left: 0rem;
  margin-top: 0rem;
} */

.no_spacing .Chart .Chart_with_space {
  margin-left: 1rem !important;
}

#PluswithChart {
  /* height: 1rem; */
  display: flex;
  flex-direction: row;
  border: 1px solid #707070;
  margin-left: 1rem;
  border-radius: 6px;
  padding: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: white;
  margin-bottom: 2rem;
  font-size: 14px;
  cursor: pointer;
}

#PluswithChart div {
  font-size: 14px;
  font-family: "SF_Pro_Display_Medium";
  color: #707070;
}

#PluswithChart img {
  margin-right: 0.5rem;
}

.Chart_holder {
  display: flex;
  flex-direction: row;
}

.Chart_dashboard {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container_button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem;
  margin-bottom: 0rem;
}

/* .this_is_container_visiable_chart {
  grid-row-end: span 2;
} */

.container_graphs_space {
  margin-left: 21rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.KPI_with_Dashboard {
  display: flex;
  flex-direction: row;
}

.Download_Dashboard {
  margin-left: 1.25rem;
  border-radius: 5px;
  background-color: #e7e7ef;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF_Pro_Display_Medium";
  font-size: 15px;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #929292;
}

.Download_Dashboard span {
  margin-right: 1rem;
  /* margin-left: 0.5rem; */
}

.KPI_contianer {
  margin-left: 2rem;
  margin-top: 1.5rem;
}
