/* .containerChart {
}

.highcharts-root {
  width: 50% !important;
}

.highcharts-label highcharts-tooltip highcharts-color-0 {
  width: 50% !important;
} */

.containerChart {
  background-color: white;
  width: 381px;
  /* height: 500px; */
  border: 1px solid #e2e2e2;
  border-radius: 9px;
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px; */
}

.Chart_with_buttons {
  display: flex;
  flex-direction: column;
}

.Chart_with_space {
  margin-left: 22rem;
  display: flex;
  flex-direction: column;
}

.Button_settings {
  display: flex;
  align-items: center;
}

.Button_settings button {
  font-size: 16px;
  font-family: "SF_Pro_Display_Regular";
  letter-spacing: 1px;
  background-color: #8e8d91;
  padding: 1rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  border-radius: 7px;
  color: white;
}

.Button_adds {
  display: flex !important;
  flex-direction: column;

  align-items: center;
  margin-top: 2rem;
}

.Button_adds_container {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.Button_adds_container li {
  padding: 0.15rem;
  font-family: "SF_Pro_Display_Regular";
  font-size: 10px !important;
  letter-spacing: 0.4px;
}

#pureDisplay {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.container_for_chart {
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  /* height: 280px; */
  /* border: 1px solid black; */
}

.title_chart {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: "SF_Pro_Display_Medium";
  margin: 1rem;
  margin-bottom: 1rem;
}

.Exist {
  width: 92% !important;
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-end;
  width: 20px;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
}

.continer_with_title_and_exist {
  display: flex;
  flex-direction: row;
}

.title_chart img {
  /* margin-left: 5rem; */
}

.hide {
  display: none !important;
}

.wrapper_loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Chart {
  width: 100%;
  /* overflow: */
}
