/* .containerChart {
}

.highcharts-root {
  width: 50% !important;
}

.highcharts-label highcharts-tooltip highcharts-color-0 {
  width: 50% !important;
} */

.containerChart {
  background-color: white;
  /* width: 381px; */
  height: 480px;
  border: 1px solid #e2e2e2;
  border-radius: 9px;
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px; */
}

.Chart_with_buttons {
  display: flex;
  flex-direction: column;
}

.Chart_with_space {
  margin-left: 22rem;
  display: flex;
  flex-direction: column;
}

.Button_settings {
  display: flex;
  align-items: center;
}

.Button_settings button {
  font-size: 16px;
  font-family: "SF_Pro_Display_Regular";
  letter-spacing: 1px;
  background-color: #8e8d91;
  padding: 1rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  border-radius: 7px;
  color: white;
}

.Button_adds {
  display: flex !important;
  flex-direction: column;

  align-items: center;
  margin-top: 2rem;
}

.Button_adds_container {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.Button_adds_container li {
  padding: 0.15rem;
  font-family: "SF_Pro_Display_Regular";
  font-size: 10px !important;
  letter-spacing: 0.4px;
}

#pureDisplay {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.container_for_chart {
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  /* height: 280px; */
  /* border: 1px solid black; */
}

.title_chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 22px;
  /* font-family: "SF_Pro_Display_Bold"; */
  /* margin: 1rem;
  margin-bottom: 1rem; */
  /* margin-top: 0.5rem; */
}

.title {
  width: 96%;
  font-size: 1.6rem;
  margin-bottom: 0.25rem;
}

/* .subtitle {
  font-size: 1.1rem;
  font-family: "SF_Pro_Display_Medium";
} */

.Exist {
  width: 22% !important;
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-end;
  width: 20px;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
}

.continer_with_title_and_exist {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title_chart img {
  /* margin-left: 5rem; */
}

.hide {
  display: none !important;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper_loader {
  width: 100%;
  height: 18.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 15rem; */
  /* animation: spinner 1.5s linear infinite; */
}

.Chart {
  width: 100%;
  /* overflow: */
}

.EditIcon_container {
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #8e8d91; */
  border-radius: 5px;
  border: 1px solid #8e8d91;
  cursor: pointer;
}
/* .icon {
  width: 100%;
  height: 100%;
} */

/* .Edit_svg {
  width: 23px;
  height: 23px;
} */

.EditIcon {
  width: 26px;
  height: 26px;
  background-color: var(--audience-border-plus);
  /* -webkit-mask: url(./icons/Slider_Right.svg) no-repeat center; */
  mask: url(../Dashboard/icons/EditSign.svg) no-repeat center;
}

.EditIcon_container:hover {
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2392d4;
  border-radius: 5px;
  border: 1px solid #2392d4;
  cursor: pointer;
}

.EditIcon:hover {
  background-color: white;
}

.SelectorSizeChart {
  padding: 0rem;
  margin: 0rem;
  /* padding-bottom: 0.25rem; */
  padding: 0.2rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.SelectorSizeChart_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.7rem;
}

.container_Chart_Options {
  /* padding-top: 1rem; */
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.Main_contianer {
  display: flex;
  margin: 1rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.h1_title_chart_container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
