.header_container_group {
  width: 100%;
  margin: 2rem;
}

h1 {
  margin-bottom: 0.5rem;
  color: var(--text-primary);
}

.h2 {
  font-family: "SF_Pro_Display_Regular";
  color: #929292;
  font-size: 25px;
  letter-spacing: 0.05rem;
}

/* Header container with title and profile  */
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Header container with title and profile  */

/* Profile Container */
.profile_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2.5rem;
}

.profile_container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile_name {
  margin-left: 1.3rem;
  font-family: "SF_Pro_Display_Medium";
  font-size: 20px;
  color: var(--text-primary);
}

/* Profile Container */
