.filter_container_group {
  margin: 2rem;
}

.filter_header {
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--audience-border-color);
  color: var(--text-primary);
}

/* .filter_container img {
    border: 0.5px solid #e2e2e2;
    margin-top: 0.4rem;
    padding: 0.5rem;
    border-radius: 20%;
    
} */

.PlusIcon_container {
  width: 20px;
  border: 0.5px solid var(--audience-border-plus);
  /* margin-top: 0.4rem; */
  padding: 0.5rem;
  border-radius: 20%;
  cursor: pointer;
}

.PlusIcon_container:hover,
.PlusIcon_container:active {
  background-color: var(--audience-background-hover-plus);
  border: 0.5px solid var(--audience-border-hover-plus);
}

.PlusIcon {
  width: 20px;
  height: 20px;
  background-color: var(--audience-border-plus);
  -webkit-mask: url(./icons/Plus.svg) no-repeat center;
  mask: url(./icons/Plus.svg) no-repeat center;
}

/* Filter button group */

.filter_button_group {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 1rem;
}

.button_report {
  font-family: "SF_Pro_Display_Regular";
  padding-block: 0.7rem;
  padding-inline: 1rem;
  border-radius: 7px;
  color: white;
  background-color: #8e8d91;
  letter-spacing: 0.04rem;
  margin-left: 1rem;
  cursor: pointer;
}

.button_report:hover,
.button_report:active {
  background-color: var(--audience-border-hover-button);
}

/* .button_audience {
  display: flex;
  justify-content: start;
} */

.button_filter {
  display: flex;
  flex-direction: row;
  font-family: "SF_Pro_Display_Regular";
  justify-content: end;
  padding-block: 0.7rem;
  padding-inline: 1rem;
  border-radius: 7px;
  color: white;
  background-color: var(--audience-save-color);
  letter-spacing: 0.04rem;
  cursor: pointer;
}

.buttons_reports {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button_filter:hover,
.button_filter:active {
  background-color: var(--audience-border-hover-button);
}

.button_filter img {
  margin-right: 0.5rem;
}

.audience_droppable_container {
  display: flex;
}

.filter_droppable_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 40px;
  z-index: 90;
  /* border: 0.5px solid var(--audience-border-color); */
}

/* Filter button group */
