.filter_container_group {
  margin: 2rem;
}

.filter_header {
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--audience-border-color);
  color: var(--text-primary);
}

/* .filter_container img {
    border: 0.5px solid #e2e2e2;
    margin-top: 0.4rem;
    padding: 0.5rem;
    border-radius: 20%;
    
} */

.PlusIcon_container {
  width: 20px;
  border: 0.5px solid var(--audience-border-plus);
  /* margin-top: 0.4rem; */
  padding: 0.5rem;
  border-radius: 20%;
  cursor: pointer;
}

.PlusIcon_container_open {
  width: 20px;
  border: 0.5px solid var(--background);
  background-color: #d9d9d9;
  padding: 0.5rem;
  border-radius: 20%;
  cursor: pointer;
}

.PlusIcon_container:hover,
.PlusIcon_container:active {
  background-color: var(--audience-background-hover-plus);
  border: 0.5px solid var(--audience-border-hover-plus);
}

.Sldiericon {
  width: 20px;
  height: 20px;
  background-color: var(--audience-border-plus);
  -webkit-mask: url(./icons/Slider_Left.svg) no-repeat center;
  mask: url(./icons/Plus.svg) no-repeat center;
}

.SldiericonRight {
  width: 20px;
  height: 20px;
  background-color: var(--audience-border-plus);
  -webkit-mask: url(./icons/Slider_Right.svg) no-repeat center;
  mask: url(./icons/Plus.svg) no-repeat center;
}

.PlusIcon {
  width: 20px;
  height: 20px;
  background-color: var(--audience-border-plus);
  -webkit-mask: url(./icons/Plus.svg) no-repeat center;
  mask: url(./icons/Plus.svg) no-repeat center;
}

/* Filter button group */

.filter_button_group {
  /* display: flex;
  flex-direction: row;

  align-items: center;

  margin-bottom: 1rem; */
}

.button_report {
  font-family: "SF_Pro_Display_Regular";
  padding-block: 0.7rem;
  padding-inline: 1rem;
  border-radius: 7px;
  color: white;
  background-color: #8e8d91;
  letter-spacing: 0.04rem;
  margin-left: 1rem;
  cursor: pointer;
}

.button_report:hover,
.button_report:active {
  background-color: var(--audience-border-hover-button);
}

/* .button_audience {
  display: flex;
  justify-content: start;
} */

.button_filter {
  display: flex;
  flex-direction: row;
  font-family: "SF_Pro_Display_Regular";
  justify-content: end;
  padding-block: 0.7rem;
  padding-inline: 1rem;
  border-radius: 7px;
  color: white;
  background-color: var(--audience-save-color);
  letter-spacing: 0.04rem;
  cursor: pointer;
}

.buttons_reports {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button_filter:hover,
.button_filter:active {
  background-color: var(--audience-border-hover-button);
}

.button_filter img {
  margin-right: 0.5rem;
}

/* .audience_droppable_container {
  display: flex;
} */

.dropDown_row_bar {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Dropdown_is_open {
  margin-top: 1rem;
  width: auto;
  height: auto;
  max-height: 40rem;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0.5px solid #8e8d91;
  border-radius: 7px;
  overflow-y: auto;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  z-index: 10;
}

.Dropdown_is_not_open {
  margin-top: 1rem;
  width: auto;
  height: auto;
  /* display: flex; */
  max-height: 40rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 0.5px solid #8e8d91; */
  border-radius: 7px;
  overflow-y: auto;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */

  z-index: 10;
}

.filter_droppable_container {
  /* padding: 0.6rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  height: auto;
  /* z-index: 90; */

  /* margin-top: 2rem; */
}

.dropDown_button {
  margin-left: 15rem;
}

/* .audience_container_with_buttons_and_filter {
  position: absolute;
  top: 0;
  left: 0;
} */
/* Filter button group */

.buttons_reports {
  left: 50%;
}

.buttons_for_audience {
  position: absolute;
  right: 0;
}

.filter_info {
  color: #8e8d91;
  font-family: "SF_Pro_Display_Bold";
  margin-bottom: 2rem;
}
