

@font-face {
    font-family: "SF_Pro_Display_Regular";
    src: url(../Navigation/Fonts/SFPRODISPLAYREGULAR.OTF);
  }
  
  @font-face {
    font-family: "SF_Pro_Display_Medium";
    src: url(../Navigation/Fonts/SFPRODISPLAYMEDIUM.OTF);
  }
  
  @font-face {
    font-family: "SF_Pro_Display_Bold";
    src: url(../Navigation/Fonts/SFPRODISPLAYBOLD.OTF);
  }
  

  :root {
    --background: white;
    --clicked-button: #FFFFFF;
    --border-clicked-button:#353738;
    --navigation-text: #929292;
    --navigation-button-text: #929292;
    --button-color:#F5F5FC;
    --audience-save-color: #AFAFAF;
    --audience-border-color: #e2e2e2;
    --text-primary: black;
    --text-secondary: royalblue;
    --accent: purple;
  }

  [data-theme='dark'] {
    --background: #1A1B1E;
    --clicked-button: #27292A;
    --border-clicked-button:#353738;
    --navigation-text: #929292;
    --navigation-button-text: white;
    --button-color:#59595B;
    --audience-save-color: #59595B;
    --audience-border-color: #707070;

    --text-primary: white;
    --text-secondary: grey;
    --accent: darkred;
  }


  .Navigation {
    color: var(--text-primary);
    background-color: var(--background);
    padding: 20px;
    height: calc(100vh - 40px);
    transition: all .5s;
  }


   
.Main_App {
  background-color: var(--background);
  height: calc(105vh - 40px);;

}


  button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    float: right;
    transition: all .5s;
  }
  
 .dark_mode {
  margin-top: 5rem;
  margin-left: 5rem;
  width: 10%;
 }
  