/* .Thisisnew {
  background-color: blueviolet;
} */

button {
  border: none;
}

button:focus {
  border: none;
  outline: none;
}

button:focus {
  outline: none !important;
}

.Dropdown {
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border: 0.5px solid #e2e2e2;
  position: fixed;
  margin-top: 3.2rem;
  border-radius: 7px;
  color: black;
  z-index: 10;
}

.Dropdown_box {
  margin: 1rem;
}

.Dropdown li {
  padding-left: 0.8rem;
}

.button_with_all_graphs {
  padding: 0.4rem;
  border: 0.5px solid #e2e2e2;
  border-radius: 7px;
  margin: 1rem;
}

.Dropdown_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.6rem;
}

.Dropdown_container img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.Dropdown_container:hover,
.Dropdown_container:active {
  border-radius: 7px;
  background-color: #d9d9d9;
  cursor: pointer;
}

.button_with_all_graphs:hover,
.button_with_all_graphs:active {
  background-color: #59595b;
  color: white;
  cursor: pointer;
}
