.drag-n-drop {
  display: flex;
  flex-direction: column-reverse;
}

/* .dnd-group {
  background-color: #49505e;
  border-radius: 5px;
  padding: 0.5rem;
  width: 150px;
  margin-top: 1rem;
}

.dnd-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  color: #282c34;
  font-weight: bold;
}

.group-title {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.dnd-item:not(last-of-type) {
  margin-bottom: 0.5rem;
}

.dnd-item * {
  margin: 0rem;
  font-size: 1.2rem;
} */

.current {
  background-color: #282c34;
}

.audience_container_with_buttons_and_filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.filter_button_group {
  position: absolute;
  top: 0;
  left: 0;
}

#drag_and_drop_open {
  display: flex;
  flex-direction: column;
}

#drag_and_drop_open .drag-n-drop .dropDown_row_bar .Dropdown_is_not_open {
  /* border: 1px solid white !important; */
  /* background-color: black; */
}

/* 
#drag_and_drop {
} */

.filter_info {
  width: 200px;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  display: flex;
}
